html,
body,
input,
button,
select,
textarea {
  font: 15px/25px Roboto, "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  cursor: url('img/cursor.png') 5 5, auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin-top: 0px;
}

a {
  color: #E187B8;
  text-decoration: none;
}

a:hover, a:focus {
  color: #7E2054;
}

.container {
  width: 100%;
  margin: 0px auto;
}

.inner-wrapper {
  width: 80%;
  padding: 0px 10%;
}

header {
  margin-top: 10px;
  text-align: center;
}

header h1 {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

header h1 .episode {
  font-family: 'sorts mill goudy', Georgia, serif;
  letter-spacing: 1px;
  font-size: 12px;
}

header h3 {
  font-family: 'sorts mill goudy', Georgia, serif;
  font-style: italic;
  font-size: 13px;
}

#game {
  text-align: center;
  font-weight: 100;
  width: 125px;
  margin: 100px auto;
}

#game .next:hover, .ui-link:hover {
  cursor: url('img/cursor-blue.png') 5 5, auto;
  -webkit-transition:color 1000ms ease-in;
  color: #4A73C6;
}

#restart {
  float: left;
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: 'sorts mill goudy', Georgia, serif;
  font-style: italic;
  font-size: 13px;
  letter-spacing: 3px;
  display: none;
}

@media only screen and (min-width: 600px) {
  .container {
    width: 540px;
  }

  .inner-wrapper {
    width: 100%;
  }
}
@media only screen and (min-width: 960px) {
  .container {
    width: 800px;
  }
}
/* clearfix */
.row:before,
.row:after,
.container:before,
.container:after {
  content: " ";
  display: table;
}

.row:after,
.container:after {
  clear: both;
}

.row,
.container {
  *zoom: 1;
}